annotated-types==0.8.0
antlr4-python3-runtime==4.13.2
appnope==0.1.4
asttokens==3.0.2
black==26.5.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
clarabel==0.11.1
click==8.5.0
cloudpickle==3.1.2
comm==0.2.3
contourpy==1.3.3
cryptography==50.0.0
cvxpy==1.9.2
cycler==0.12.1
debugpy==1.8.21
dill==0.4.1
docplex==2.32.264
executing==2.2.1
fonttools==4.63.0
h5py==3.16.0
highspy==1.15.1
ibm-cloud-sdk-core==3.26.0
ibm-platform-services==0.77.0
ibm-quantum-schemas==0.10.20260723
idna==3.18
ipykernel==7.3.0
ipython==9.16.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
joblib==1.6.0
jupyter_client==8.9.1
jupyter_core==5.9.1
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.11.1
matplotlib-inline==0.2.2
mpmath==1.3.0
mypy_extensions==1.1.0
narwhals==2.25.0
nest-asyncio2==1.7.2
networkx==3.6.1
numpy==2.5.2
openqasm3==1.0.1
orjson==3.12.0
osqp==1.1.3
packaging==26.3
pandas==3.0.5
parso==0.8.7
pathspec==1.1.1
pauli-prop==0.1.0
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.11.3
plotly==7.1.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pybase64==1.5.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pydot==4.0.1
Pygments==2.21.0
PyJWT==2.13.0
pylatexenc==2.11
pyparsing==3.3.2
pyscf==2.14.0
pyspnego==0.12.1
python-dateutil==2.9.0.post0
python-sat==1.9.dev15
pytokens==0.4.1
pyzmq==27.1.0
qaoa_training_pipeline @ file:///Users/ibrahimshehzad/qdc-challenges-2026/qamoo/qaoa_training_pipeline
qdldl==0.1.9.post1
qiskit==2.5.2
qiskit-addon-opt-mapper==0.1.0
qiskit-addon-slc==0.1.0
qiskit-addon-utils==0.4.0
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.49.0
qiskit-mitigation==0.1.0
qiskit-noise-learning @ git+https://github.com/Qiskit/qiskit-noise-learning.git@415efdb12f76467fa80ebe7697189adacdc9a7ce
qiskit-optimization==0.7.0
qiskit-paulice==0.2.1
qiskit-qasm3-import==0.6.0
qopt_best_practices @ file:///Users/ibrahimshehzad/qdc-challenges-2026/qamoo/qopt-best-practices
requests==2.34.2
requests_ntlm==1.3.0
rustworkx==0.18.1
samplomatic==0.21.0
scikit-learn==1.9.0
scipy==1.18.0
scs==3.3.1
seaborn==0.13.2
setuptools==84.0.0
six==1.17.0
sparsediffpy==0.3.0
stack-data==0.6.3
stevedore==5.9.0
sympy==1.14.0
threadpoolctl==3.6.0
tokenize_rt==6.2.0
tornado==6.5.8
tqdm==4.70.1
traitlets==5.16.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
wcwidth==0.8.2
xarray==2026.7.0
